.about__main-content {
  .--custom-group {
    margin-top: 3em;
    h3 {
      text-transform: capitalize;
    }
  }
}

@if $hide-admins == "true" {
  .about__admins {
    display: none;
  }
}

@if $hide-moderators == "true" {
  .about__moderators {
    display: none;
  }
}
