.about__main-content {
  .--custom-group {
    margin-top: 3em;
  }
}

@if $hide-admins == "true" {
  .about__admins {
    display: none;
  }
}

@if $hide-moderators == "true" {
  .about__moderators {
    display: none;
  }
}
