.about__main-content {
  .--custom-group {
    max-width: unset !important; // ovverides ridiculously specific core style
    margin-top: 3em;
    h3 {
      a {
        color: var(--primary);
        &:hover {
          color: var(--tertiary);
        }
      }
      @if $capitalize-names == "true" {
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }

    p {
      margin-top: 0;
      color: var(--primary-high);
    }

    &.--has-description {
      h3 {
        margin-bottom: 0;
      }
    }
  }
}
